.button {
	width: clamp(15rem, 20rem, 25vw);
	padding: 1.2rem;
	margin: 0.5rem;
	border: 0;
	border-radius: 0.3rem;
	background: hsla(0, 0%, 0%, 0.8);
	font-size: 2rem;
	color: white;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.button:hover {
	cursor: pointer;
	transform: scaleX(0.97);
	background: var(--color-6);
}
