.layout {
	display: flex;
	flex-direction: column;
}

.header {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	background: var(--color-6-t);
}

.main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.footer {
	flex: 1 1 auto;
	justify-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	height: 10vh;
	background: var(--color-3);
}
