.app {
	position: relative;
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;
}

.rollContainer {
	flex: 1 1 75%;
	text-align: center;
}

.diceContainer {
	display: flex;
	justify-content: center;
}

.rollHistoryContainer {
	flex: 1 1 25%;
}
